<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Catalogs</title>
</head>

<body style="background-color:AntiqueWhite; min-height:100vh;">
{#<h1 style="background-color:LightBlue; text-align: center; font-size: 50px; height:65px;" > Catalog </h1>#}
{#<h4 style = "text-align: center; background-color:Azure" >#}
{#</h4>#}

<div style="background:white; padding:20px; box-shadow:0 2px 8px black; display:flex; align-items:center; justify-content:space-between;">
    <div style="display:flex; align-items:center; gap:8px;">
        <h3>Nittany Auction</h3>

        <img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}"
             alt="Nittany Auction Logo"
             loading="lazy"
             style="height:40px;">
    <div>
    <form action="/welcome/?">
        <button type="submit" class="btn btn-info">Home</button>
    </form>
    </div>
</div>
    <div>
        <b>Welcome to the main catalog! Please feel free to browse by choosing a main category.</b>
    </div>
</div>
<br>
<br>

<!-- Below will be the code for the catalog-->
<div id="catalog" style="margin-left: 0px; padding: 20px; display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 16px;">

    {% for category in categories %}

        <form action="/catalog/{{ category }}" style="width:100%">
            <button type="submit"  class="btn btn-info" style=" width:100%; height:100%; background: midnightblue; color: white; border: 3px; border-radius: 10px; padding: 16px; text-align: center";
            onmouseover="this.style.background='white'; this.style.color='midnightblue'"  ; onmouseout="this.style.background='midnightblue'; this.style.color='white'";>

                <h5 style="margin: 0;">{{ category }}</h5>
            </button>
        </form>
    {% endfor %}
</div>



<!-- Catalog code ends here-->

</body>



</html>