<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Catalog</title>
</head>

<body style="background-color:AntiqueWhite">
<h1 style="background-color:LightBlue; text-align: center; font-size: 50px; height:65px;" > Catalog </h1>
<h4 style = "text-align: center; background-color:Azure" >
</h4>
<br>
<br>



<!-- Below will be the code for the catalog-->
<div id="catalog" style="margin-left: 0px; padding: 20px; display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 16px;">

    {% for parent_category in categories %}

        <form action="/catalog/subcatalog" style="width:100%">
            <button type="submit" class="btn btn-info" style=" width:100%; height:100%; background: midnightblue; color: white; border: 3px; border-radius: 10px; padding: 16px; text-align: center;">
                <h5 style="margin: 0;">{{ parent_category }}</h5>
            </button>
        </form>
    {% endfor %}
</div>


<!-- Catalog code ends here-->

</body>



</html>