<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Main Catalog homepage</title>
</head>

<body style="background-color:AntiqueWhite">
<h1 style="background-color:LightBlue; text-align: center"> Welcome! </h1>
<h4 style = "text-align: center; background-color:Azure" >
</h4>
<br>
<br>


<body style = "position: relative">

<img src="{{ url_for('static', filename='AirPodMaxs.webp') }}" alt="aIRPOD" loading="lazy" width="300" height="200" style="position: absolute; top: 10px; left: 10px">

</body>





</body>



</html>