<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>NittanyAuction</title>
</head>

<body style="background-color:AntiqueWhite; min-height:100vh;">

<div style="background:white; padding:20px; box-shadow:0 2px 8px black; display:flex; align-items:center; justify-content:space-between;">
    <div style="display:flex; align-items:center; gap:8px;">
        <h3>Nittany Auction</h3>

        <img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}"
             alt="Nittany Auction Logo"
             loading="lazy"
             style="height:40px;">
    </div>
    <div>
        <b>Welcome to Nittany Auction! Please Log in below to get started!</b>
    </div>
</div>

<br>
<br>

<div style="display: flex; justify-content: center; align-items: center;">
    <form action="/login">
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>


</body>
</html>