<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>NittanyAuction</title>
</head>

<body style="background-color:White; min-height:100vh;">
    <header style="background-color:#1e3a5f; color:white; padding:15px; text-align:center; font-size:32px; font-weight:600; box-shadow:0 3px 10px black">
        Welcome to Nittany Auction!
    </header>


    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; align-items: center;  min-height: 75vh">
        <img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}"
             alt="Nittany Auction Logo"
             loading="lazy"
             style="height:250px;">
        <div style="display: flex; font-size:36px; font-weight: 600">
            Please log in to get started
        </div>
    <br>
    <br>
    <div style="display: flex; justify-content: center; align-items: center;">
        <form action="/login">
            <button type="submit" class="btn btn-success" style="height: 75px; width: 150px; font-size: 20px" >Login</button>
        </form>
    </div>

    </div>


<br>
<br>




</body>
</html>