<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>List Item</title>
</head>

<body style="background-color:AntiqueWhite; min-height:100vh;">

<div style="background:white; padding:20px; box-shadow:0 2px 8px black; display:flex; align-items:center; justify-content:space-between;">
    <div style="display:flex; align-items:center; gap:8px;">
        <h3>Nittany Auction</h3>

        <img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}"
             alt="Nittany Auction Logo"
             loading="lazy"
             style="height:40px;">
    <div>
    <form action="/welcome/?">
        <button type="submit" class="btn btn-info">Home</button>
    </form>
    </div>
</div>
    <div>
        <b>Thank you for listing your item. Please navigate back home.</b>
    </div>
</div>
<br>
<br>








</body>
</html>



