<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>NittanyAuction Login Page</title>
</head>


<body style="background-color:AntiqueWhite; min-height:100vh;">

<div style="background:white; padding:20px; box-shadow:0 2px 8px black; display:flex; align-items:center; justify-content:space-between;">
    <div style="display:flex; align-items:center; gap:8px;">
        <h3>Nittany Auction</h3>

        <img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}"
             alt="Nittany Auction Logo"
             loading="lazy"
             style="height:40px;">
    </div>
    <div>
        <b>Please log in using an existing account or create an account below!</b>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 20px;">
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>



    <button id="confirm" type="submit" class="btn btn-success">Login</button>
    <a href="/createaccount" class="btn btn-secondary ml-2">Create Account</a>
  </form>
</div>

<div style= "text-align: center;">
    {% if error %}
      <p style="color: red; font-weight: bold;">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>