<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Nittany Auction</title>
</head>

<body style="background-color:AntiqueWhite">
<h1 style="background-color:LightBlue; text-align: center"> Welcome! </h1>
<h4 style = "text-align: center; background-color:Azure" >
    Logged in as: {{ email }} ({{ role }})

</h4>

<div style="display: flex; justify-content: space-between; align-items: center; padding: 0 200px;">
    <form action="/account" method="GET">
        <button type="submit" class="btn btn-info">Account Information</button>
    </form>
    <form action="/watchlist" method="GET">
        <button style="background-color: darkgreen;" type="submit" class="btn btn-info">View Watchlist</button>
    </form>
    <form action="/login">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>

<br>
<br>

<div style="display:flex">
<img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}" alt="Nittany Auction Logo" loading="lazy" style="position: absolute;">


</div>

<div style="display: flex; justify-content: center; align-items: center; height:50vh; margin:0">
    <form action="/catalog">
        <button style="font-size: 24px; background-color: darkblue; text-decoration-color: aliceblue;" type="submit" class="btn btn-success">Catalog</button>
    </form>
</div>





</body>



</html>