<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Nittany Auction</title>
</head>

<body style="background-color:AntiqueWhite; min-height:100vh;">

<div style="background:white; padding:40px; box-shadow:0 2px 8px black; display:flex; align-items:center; justify-content:space-between;">
    <div style="display:flex; align-items:center; gap:8px;">
        <h3>Nittany Auction</h3>

        <img src="{{ url_for('static', filename='NittanyAuction_Logo.webp') }}"
             alt="Nittany Auction Logo"
             loading="lazy"
             style="height:40px;">
    </div>

    <div style="display:flex; align-items:center; gap:10px;">
        <span style="margin-right:10px; color:gray;">
            {{ email }} ({{ role }})
        </span>
        <form action="/account" method="GET">
            <button class="btn btn-outline-info btn-sm">Account</button>
        </form>

        {% if role != 'HelpDesk' %}
        <form action="/watchlist" method="GET">
            <button class="btn btn-outline-success btn-sm">Watchlist</button>
        </form>
        {% endif %}

        {% if role == 'HelpDesk' %}
        <form action="/helpdesk" method="GET">
            <button class="btn btn-outline-primary btn-sm">HelpDesk Panel</button>
        </form>
        {% endif %}

        <form action="/login" method="GET">
            <button class="btn btn-outline-danger btn-sm">Logout</button>
        </form>
    </div>
</div>

<br>
<br>

<div style="display: flex; justify-content: center; align-items: center; height:50vh; margin:0">
    <form action="/catalog">
        <button style="font-size: 24px; background-color: darkblue; text-decoration-color: aliceblue;" type="submit" class="btn btn-success">Catalog</button>
    </form>
</div>

</body>

</html>